/* C O N T A C T O  */
#pagina .contenido .formulario {
    max-width: 1100px;
    height: 90vh;
    margin: auto;
    padding-top: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pagina .formulario .fila {
    margin-bottom: 20px;
}

#pagina .formulario .mitad {
    display: flex;
    justify-content: space-between;
}

#pagina .formulario input{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
    resize: none;
}

#pagina .formulario .mitad input {
    width: 58%;
}

#pagina .formulario .input-email {
    width: 100%;
}

#pagina .titulo-formulario {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    padding-bottom: 40px;
}

/*--> BOTON ENVIAR*/
#pagina .btn {
    display: block;
    margin: auto;
    cursor: pointer;
    text-transform: uppercase;
    transition: .5s;
}
#pagina .btn:hover {
    background-color: #ff5080;
}
